# git shortlog -se
# git config --global log.mailmap true
# git log --use-mailmap

zeroinformatique <contact@zeroinformatique.fr> <contact@zeroinformatique.fr>
zeroinformatique <contact@zeroinformatique.fr> <10961896+zeroinformatique@users.noreply.github.com>
zeroinformatique <contact@zeroinformatique.fr> <OzoneGrif@users.noreply.github.com>

pacien <pacien.trangirard@pacien.net> <pacien@users.noreply.github.com>
