// Global CSS

// === Forms

.required label::after {
  content: "*";
  color: red;
}

// === Tools

.nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  align-items: center;
}
