// === Theme

$layout-top: 70px;
$layout-left: 250px;

$panel-top-bgcolor: #225;
$panel-top-txtcolor: white;
$panel-left-bgcolor: $panel-top-bgcolor;
$panel-left-txtcolor: $panel-top-txtcolor;
$content-bgcolor: #1e1e1e;
